﻿@model IEnumerable<FootballRecord.Web.Models.Player>
    
<h2>PlayersList</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database!</p>
}
else
{ 
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Firstname)</th>
            <th>@Html.DisplayNameFor(m => m.First().Surname)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>
        @foreach (var player in Model)
        { 
            <tr>
                <td>@Html.DisplayFor(m => player.Firstname)</td>
                <td>@Html.DisplayFor(m => player.Surname)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = player.Id })</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = player.Id })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = player.Id })</td>
             </tr>
        }



    </table>


}
