﻿@model FootballRecord.Web.Models.Player

@{
    ViewData["Title"] = "PlayersDetails";
}

<h2>Datasheet of one player</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Surname)</td>
        <td>@Html.DisplayFor(m => m.Surname)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Firstname)</td>
        <td>@Html.DisplayFor(m => m.Firstname)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.JerseyNumber)</td>
        <td>@Html.DisplayFor(m => m.JerseyNumber)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.DateOfBirth)</td>
        <td>@Html.DisplayFor(m => m.DateOfBirth)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Performance)</td>
        <td>@Html.DisplayFor(m => m.Performance)</td>
    </tr>

</table>