﻿@model FootballRecord.Web.Models.Player

<h2>PlayersEdit</h2>

@using (Html.BeginForm("Edit", "Players"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Surname)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Surname)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Firstname)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Firstname)</div>

    <div class="editor-label">@Html.LabelFor(m => m.JerseyNumber)</div>
    <div class="editor-field">@Html.EditorFor(m => m.JerseyNumber)</div>

    <div class="editor-label">@Html.LabelFor(m => m.DateOfBirth)</div>
    <div class="editor-field">@Html.EditorFor(m => m.DateOfBirth)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Performance)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Performance)</div>

    <input type="submit" value="SEND" />

}
